<%= bootstrap_form_for(@timelog) do |f| %>
  <div class="row project-row">
    <div class="col-md-12">
      <%= f.text_field :project_id, append: content_tag(:span, "",class: "glyphicon glyphicon-chevron-right"), class: "biginput" %>
    </div>
  </div>

  <div class="row">
    <div class="timetabs" role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li>
          <%= radio_button_tag :date_select, 0, false, hidden: true %>
          <label for="date_select_0">Igår</label>
        </li>
        <li>
          <%= radio_button_tag :date_select, 1, true, hidden: true %>
          <label for="date_select_1">Idag</label>
        </li>
        <li>
          <%= radio_button_tag :date_select, 2, false, hidden: true %>
          <label id="calendar-label" for="date_select_2">Kalender <span id="calendar-smalldate" class="hidden"></span></label>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="calendar-box collapsed" id="calendar-box">
      <div class="content">
        <div id="datepicker"></div>
        <%= f.hidden_field :date, value: Date.today %>
      </div>
    </div>
  </div>

  <div class="row timeselect-row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= f.number_field :duration %>
        </div>
      </div>
    </div>
  </div>

  <div class="row description-row">
    <div class="col-md-12">
      <%= f.text_area :description, class: "biginput"%>
      <%= f.submit "Spara", class: "btn btn-primary pull-right submit-btn" %>
    </div>
  </div>
<% end %>
