<h1>Listing timelogs</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Start</th>
      <th>Seconds</th>
      <th>Description</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timelogs.each do |timelog| %>
      <tr>
        <td><%= timelog.user.name %></td>
        <td><%= timelog.start_time %></td>
        <td><%= timelog.duration %></td>
        <td><%= timelog.description %></td>
        <td><%= timelog.project.name %></td>
        <td><%= link_to 'Show', timelog %></td>
        <td><%= link_to 'Edit', edit_timelog_path(timelog) %></td>
        <td><%= link_to 'Destroy', timelog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timelog', new_timelog_path %>
