<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @timelog.user %>
</p>

<p>
  <strong>Start:</strong>
  <%= @timelog.start_time %>
</p>

<p>
  <strong>Seconds:</strong>
  <%= @timelog.duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @timelog.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @timelog.project %>
</p>

<%= link_to 'Edit', edit_timelog_path(@timelog) %> |
<%= link_to 'Back', timelogs_path %>
