<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<h1>Project keywords logged time</h1>
<%= pie_chart Keyword.joins(:timelogs).where("timelogs.project_id=?",@project.id).group("keywords.id").sum(:seconds).map { |k, v| ["##{Keyword.find(k).base}",v]} %>

<h1>Project date logged time</h1>

<%= line_chart @project.timelogs.group_by_day(:start).sum(:seconds) %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
