<p id="notice"><%= notice %></p>

<p>
  <strong>Definition:</strong>
  <%= @keyword.definition %>
</p>

<p>
  <strong>Base:</strong>
  <%= @keyword.base %>
</p>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
