@import "bootstrap-sprockets";
@import "bootstrap-variables";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "bootstrap-datepicker3";
@import "timelogs";

.signed-in-user {
  background: #58A35C;
  padding: 5px;
  color: #FFF;
}
