.timelog-box {
  margin-top: 40px;
  background: #71D191;
  padding-bottom: 20px;

  .form-control {
    box-shadow: none !important;
  }

  .project-row {
    padding: 30px;

    .control-label {
      font-size: 30px;
      color: #fff;
      margin-bottom: 10px;
    }

    .input-group-addon {
      background: #fff;
      border-left: none;
    }
  }

  .timetabs {
    li {
      width: 33.333%;
      background: #71D191;
      border: none;
      text-align: center;
      font-size: 18px;

      input[type=radio]:checked + label {
        background: #58A35C;
        cursor: default;
      }
      label {
        width: 100%;
        margin: 0;
        height: 40px;
        line-height: 40px;
        color: #fff;
        font-weight: normal;
        cursor: pointer;
      }
    }
    .nav-tabs {
      border-bottom: 1px solid transparent;
    }
  }

  .calendar-box {
    position: relative;
    height: 260px;
    transition: height 500ms;
    overflow: hidden;
    background: #58A35C;

    &.collapsed {
      height: 0;
    }

    .content {
      position: absolute;
      bottom: 0;
      height: 260px;
      width: 100%;
      color: #fff;
      #datepicker {
        width: 220px;
        margin: auto;
        .new, .old {
          color: #C0C0C0;
        }
      }
    }
  }

  .timeselect-row {
    background: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }


  .description-row {
    padding: 30px 30px 10px 30px;
    textarea{
      resize: none;
    }
    .control-label {
      font-size: 25px;
      color: #fff;
      margin-bottom: 10px;
    }

    .submit-btn {
      margin-top: 10px;
    }
  }

  .biginput {
    height: 48px;
    font-size: 20px;
    border-right: none;
  }
}

#calendar-smalldate {
  background: #3276b1;
  border: 3px solid #3276b1;
  border-radius: 5px;
  padding: 2px;
}
