<!DOCTYPE html>
<html>
  <head>
    <title>Fleskel</title>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <div class="<%= flash_class(name) %>">
        <%= msg %>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <div class="container">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="signed-in-user pull-right">
            Hej, <%= current_user.name %>
            <%= link_to "logga ut", destroy_user_session_path, method: :delete %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
